<ion-view view-title="Titre annonce" ng-controller="detailAnnounceCtrl">
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <img src="../img/profil_default.jpg">
                <h2>{{ publisherInfo.firstname }} {{ publisherInfo.lastname }}</h2>
                <p>{{ announce.createdAt }}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="{{ announce.imageURL }}">
                <h3>{{ announce.title }}</h3>
                <h5>{{ announce.description }}</h5>

                    <p>{{ aannounce.price }}</p>

            </div>
        </div>
    </ion-content>
</ion-view>
