<ion-view view-title="Home">
    <ion-header-bar class="bar-light bar-subheader">
        <input type="search"
               placeholder="Chercher"
               ng-model="search"
               ng-focus="searchFocused = true"
               ng-blur="searchFocused = false"
               ng-change="scrollTop()"
               class="full-width">
    </ion-header-bar>
    <ion-content style="margin-top: 2px;">
        <div class="list">

            <a class="item item-thumbnail-left" ng-controller="HomeCtrl" href="#">
                <img src="cover.jpg">
                <h2>Annonce</h2>
                <p>Catégorie</p>
                <p>Prix</p>
                <p>Date</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="cover.jpg">
                <h2>Annonce</h2>
                <p>Catégorie</p>
                <p>Prix</p>
                <p>Date</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="cover.jpg">
                <h2>Annonce</h2>
                <p>Catégorie</p>
                <p>Prix</p>
                <p>Date</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="cover.jpg">
                <h2>Annonce</h2>
                <p>Catégorie</p>
                <p>Prix</p>
                <p>Date</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="cover.jpg">
                <h2>Annonce</h2>
                <p>Catégorie</p>
                <p>Prix</p>
                <p>Date</p>
            </a>

        </div>
    </ion-content>
</ion-view>