<ion-view view-title="Home" >
    <ion-header-bar class="bar-light bar-subheader">
        <input type="search"
               placeholder="Chercher"
               ng-model="search"
               ng-focus="searchFocused = true"
               ng-blur="searchFocused = false"
               ng-change="scrollTop()"
               class="full-width">
    </ion-header-bar>
    <ion-content style="margin-top: 2px;" ng-controller="HomeCtrl">
        <div class="list">
          <div  ng-repeat="announce in announces;">
            <a class="item item-thumbnail-left" ui-sref="annonce" >
                <img class="img-responsive" src="{{ announce.imageURL }}">
                <h2>{{ announce.title }}</h2>
                <p>{{ announce.createdAt }}</p>

                <p>{{ announce.category }}</p>
                <p>{{ announce.price }}</p>
            </a>
          </div>
        </div>
    </ion-content>
</ion-view>
