<ion-view view-title="Titre annonce" ng-controller="myAnnoncesCtrl">
    <ion-content>
        <div class="list" ng-repeat="announce in announces; track by $index">

            <a class="item item-thumbnail-left">
                <img src="cover.jpg">
                <h2>{{ announce.title }}</h2>
                <p>{{ announce.category}}</p>
                <p>{{ announce.prix }}</p>
                <p>{{ announce.createdAt}}</p>
            </a>
            <div class="button-bar">
                <a class="button">Modifier</a>
                <a class="button">Supprimer</a>
            </div>

            </div>
</ion-content>
</ion-view>
