<ion-view view-title="Titre annonce">
    <ion-content>
        <div class="list">

            <a class="item item-thumbnail-left" href="#">
                <img src="cover.jpg">
                <h2>Annonce</h2>
                <p>Catégorie</p>
                <p>Prix</p>
                <p>Date</p>
            </a>
            <div class="button-bar">
                <a class="button">Modifier</a>
                <a class="button">Supprimer</a>
            </div>
            <a class="item item-thumbnail-left" href="#">
                <img src="cover.jpg">
                <h2>Annonce</h2>
                <p>Catégorie</p>
                <p>Prix</p>
                <p>Date</p>
            </a>
            <div class="button-bar">
                <a class="button">Modifier</a>
                <a class="button">Supprimer</a>
            </div>
            <a class="item item-thumbnail-left" href="#">
                <img src="cover.jpg">
                <h2>Annonce</h2>
                <p>Catégorie</p>
                <p>Prix</p>
                <p>Date</p>
            </a>
            <div class="button-bar">
                <a class="button">Modifier</a>
                <a class="button">Supprimer</a>
            </div>
            </div>
</ion-content>
</ion-view>