<ion-view view-title="Titre annonce" ng-controller="newAnnounceCtrl">
﻿<ion-view view-title="Nouvelle annonce">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Login</h1>
    </div>
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Titre</span>
                <input type="text" placeholder="Iphone 7 - Weight condition" ng-model="newAnnounce.title">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <input type="text" placeholder="Lorem ipsum" ng-model="newAnnounce.description">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Prix €</span>
                <input type="text" placeholder="50€" ng-model="newAnnounce.price">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Catégorie</span>
                <select ng-model="newAnnounce.category" ng-options="category as category.label for category in categories">
                  <option value=""></option>
                </select>
            </label>
</div>

        <button class="button button-block button-positive" ng-click="postAnnounce()">
           Publish

        </div>

    </ion-content>
</ion-view>
