<ion-view view-title="Titre annonce">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Title</span>
                <input type="text" placeholder="Iphone 7 - Weight condition">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <input type="text" placeholder="Lorem ipsum">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Catégorie</span>
                <select>
                    <option value="Home">Home</option>
                    <option value="Clothe">Clothes</option>
                    <option value="Media">Media</option>
                    <option value="...">...</option>
                </select>
            </label>
                <ul class="list">
                    <li class="item item-toggle">
                        Show Telephone Number
                        <label class="toggle toggle-positive">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                    <li class="item item-toggle">
                        Show Email
                        <label class="toggle toggle-positive">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>
</div>

        <button class="button button-block button-positive">
           Publish 
        </button>
    </ion-content>
</ion-view>