<ion-view view-title="Register" hide-back-button="true" class="modal" ng-controller="registerCtrl">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Register</h1>
    </div>
    <ion-content>
        <div class="list" style="margin-top : 33%">
          <label class="item item-input">
              <input type="text" placeholder="Pseudo" ng-model="user.username">
          </label>
            <label class="item item-input">
                <input type="text" placeholder="Nom" ng-model="user.lastname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Prénom" ng-model="user.firstname">
            </label>
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Pays" ng-model="user.country">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Mot de passe" ng-model="user.password">
            </label>
        </div>

        <button class="button button-full button-positive" ng-click="register()">
            Valider
        </button>

        <a ng-click="closeModalOpenLogin()">Déjà inscrit ?</a>
    </ion-content>
</ion-view>
