<ion-view view-title="Videos" >
    <ion-content style="margin-top: 2px;">
        <div class="list">
          <div  ng-repeat="announce in announces;">
            <a class="item item-thumbnail-left" ui-sref="annonce" >
                <img class="img-responsive" src="{{ announce.imageURL }}">
                <h2>{{ announce.title }}</h2>
                <p>{{ announce.createdAt }}</p>

                <p>{{ announce.category }}</p>
                <p>{{ announce.price }}</p>
            </a>
          </div>
        </div>
    </ion-content>
</ion-view>
